
 .goodbyeMessage{
    color:white ;
    background-color: rgb(72, 84, 138);
    width: auto;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


}

.goodbyeMessage p {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: x-large;
}