.pageContainer {
    height: 100%;
    background-color: #f6f7f2;
  }
  
  .signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f6f7f2;
  }
  
  .signUpForm {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 500px;
    max-width:600px;
  }
  
  .inputContainer {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #a7b798;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .button:hover {
    background-color: #8f9d7b;
  }
  
  .button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .cancelButton {
    background-color: #ff4d4d;
    margin-top: 10px;
  }
  
  .cancelButton:hover {
    background-color: #cc0000;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  